.card {
  width: 100%;
  margin: 0.5vmax 1vmax;
  height: auto;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 0 5px 0 rgba($color: #000000, $alpha: 0.2);
  border-radius: 5px;
  cursor: pointer;

  .cardInner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: bold;

    i {
      color: rgb(0, 140, 50);
    }
  }
  span {
    font-weight: 500;
  }
}
