.containerGrid {
  max-width: 80%;
  margin: 2vmax auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    
  .center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}