@import '../../assets/mixin';
.welcomePage {
  width: 100%;
  height: 100vh;
  background: rgb(0,134,42);
  background: linear-gradient(135deg, rgba(0,134,42,0.8914916308320203) 14%, rgba(112,255,210,0.8410714627647934) 91%);
  box-shadow: 0 0 30px 20px rgba($color: #000000, $alpha: 0.5) inset;
  

  .clipImg {
    width: 100%;
    height: 100%;
    box-shadow: 0 0 15px 15px rgba($color: #000000, $alpha: 0.5) inset;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    clip-path: polygon(80% 0, 60% 100%, 0 100%, 0 0);
    

    background-image: url(https://images.unsplash.com/photo-1592490839541-60ba593504cf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80);

    @include mobile {
      clip-path: polygon(100% 0, 100% 90%, 21% 100%, 0 100%, 0 0);
    }
  }

  .center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: flex-end;
    
    .scrollBottom {
      width: 100%;
      height: 4vmax;
      display: flex;
      justify-content: center; 
      position: relative; 

      i {
        position: absolute;
        animation: upDown 0.75s ease-in alternate infinite;
      }
    
    }
  }
}

@keyframes upDown {
  0%{
    top: 0;
  }
  100% {
    top: 1vmax;
  }
}

