.footer {
  background-image: url(https://images.unsplash.com/photo-1489770911640-6f2bf088f3a5?ixlib=rb-1.2.1&auto=format&fit=crop&w=1189&q=80);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 5px 0;
  width: 100%;

  &.center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}